.abs.score0.text.mytoggle.myhidden {
	display: none;
}
.abs.score0.box.mytoggle.myhidden {
	height:32px;
	background:url("/add-icon.png") no-repeat;
}

.auth.score0 {
#	display: none;
}
.tag.score0 {
  display: none;
}
.tag {
  border: 1px solid rgba(0,0,225,.1) ;
  background-color: rgba(0,0,225,.1); 
  display: inline;
}

