.abs.score0.text.toggle.hidden {
	display: none;
}
.abs.score0.box.toggle.hidden {
	height:32px;
	background:url("http://icons.iconarchive.com/icons/awicons/vista-artistic/32/add-icon.png") no-repeat;
}

.auth.score0 {
#	display: none;
}
.tag.score0 {
  display: none;
}
.tag {
  border: 1px solid rgba(0,0,225,.1) ;
  background-color: rgba(0,0,225,.1); 
  display: inline;
}

